body {
    min-height: 1000px;
}

.menu-nav {
    background: #000;
}

.ul-nav-paginas {
    text-align: center;
}

.ul-nav-paginas li {
    display: inline-block;
    font-weight: 600;
    font-size: 19px;
    padding: 1.5vh 4vh;
    width: auto;
    background: rgb(169, 15, 15);
    text-align: center;
    margin: 20px 40px;
    border: 4px solid thistle;
    border-radius: 20px;
    text-decoration: none;
    transition: 1s all;
}

.ul-nav-paginas li:hover {
    background: rgb(202, 11, 11);
    transform: scale(1.3);
}

.ul-nav-paginas li a {
    color: ghostwhite;
    font-weight: bold;
    text-transform: uppercase;
}

.cabecalho {
    height: auto;
    background: url(/imagens/cabeçalho.png);
}

#logo {
    width: 100%;
    height: auto;
}

.banners {
    width: 100%;
    height: 40rem;
    overflow: hidden;
    position: relative;
}

.banner {
    position: absolute;
    width: 100%;
    height: 40rem;
}

@keyframes banner1 {
    0% {
        left: 0px;
        opacity: 1;
    }
    33% {
        left: -100%;
        opacity: 0;
    }
    66% {
        left: 100%;
        opacity: 0;
    }
    100% {
        left: 0px;
        opacity: 1;
    }
}
  
@keyframes banner2 {
    0% {
        left: 100%;
        opacity: 0;
    }
    33% {
        left: 0px;
        opacity: 1;
    }
    66% {
        left: -100%;
        opacity: 0;
    }
    100% {
        left: 100%;
        opacity: 0;
    }
}

@keyframes banner3 {
    0% {
        left: -100%;
        opacity: 0;
    }
    33% {
        left: 100%;
        opacity: 0;
    }
    66% {
        left: 0px;
        opacity: 1;
    }
    100% {
        left: -100%;
        opacity: 0;
    }
}
  
#banner1 {
    animation: banner1 15s forwards 0s infinite;
}
  
#banner2 {
    animation: banner2 15s forwards 5s infinite;
}
  
#banner3 {
    animation: banner3 15s forwards 10s infinite;
}

